
body{
    height: 100%;
    margin: 0;
    display: block;
    font-family: arial,sans-serif;
    background: #fff;
    color: #222;
    font-size: small;
    font-size: 13px;
}

#root{
    position: absolute;
    top:0;
    margin: 0 auto;
}

.size{
    width: 100%;
    min-height: 100%;
    min-width: 1139px;
}

.header{
    position: relative;
    width: 100%;
    top: 16px;
    left: 0;
    right: 0;    
}

.headerContents{
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;    
}

.left .header .headerContents{
    float: left;
    text-align: left;
}

.right .header .headerContents{
    float: right;
    text-align: right;
}

.headerContents div{    
    display: flex;
}

.secondSide a{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    line-height: 24px;
}

.secondSide a:hover{
    color: rgba(0,0,0,0.70);
    text-decoration: underline;
}

/* firstSide & firstSide auto position */
.left .firstSide{
    order:1;
}
.right .header .firstSide{
    order:2;
}
.left .header .secondSide{
    order:2;
    padding-left: 15px;
    
}
.right .header .secondSide{
    order:1;
    padding-right: 15px;
}

/* all thing in firstSide & firstSide auto position */
.left .header .googleAppMenuBox{
    order:2;
}
.right .header .googleAppMenuBox{
    order:1;
}
.left .header .signInBtnBox{
    order:1;
    padding: 0 15px 0 0;
    font-weight: bold;
}
.right .header .signInBtnBox{
    order:2;
    padding: 0 0 0 15px ;
}
.left .header .gamilBox{
    order:2;
}
.right .header .gamilBox{
    order:1;
}
.left .header .imagesBox{
    order:1;
    padding-right: 15px;
}
.right .header .imagesBox{
    order:2;
    padding-left: 15px;
}

.googleAppMenuBox{ 
    color: #000;
    cursor: pointer;
}

.googleAppMenuIcon{
    background-image: url(../resources/images/icon/i1_1967ca6a.png);
    -webkit-background-size: 528px 68px; 
    background-size: 528px 68px;
    background-position: -132px -38px;
    height: 30px;
    width: 30px;
    opacity: .55;
}

.googleAppMenuIcon:hover{
    opacity: 0.75;
}

#signInBtn{
    color: #fff;
    border: 1px solid #4285f4;
    border-radius: 2px;
    cursor: default;
    font-weight: bold;
    line-height: 28px;
    text-decoration: none;
    padding: 0 12px;
}

#mainLogo{
    display: flex;
    margin: 0 auto;
    padding-top: 109px;
}

#searchForm{
    margin: 0 auto;
    width: 582px;   
}

.searchBar{
    position: relative;
    top:-5px;
    display: flex;    
    width: 100%;
    height:44px;
    /* margin-left: 5px; */
    /* margin-left: -7px; */
    background: #fff;
    border-radius: 24px;
    border: 1px solid ;  
}

#searchInput{
    flex: 100%;
    height: 34px;
    border: none;
    outline: none;
    padding: 0;
    margin: -2px 0 0;
    color: rgba(0,0,0,.87);
    font: 16px arial,sans-serif;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
.keyboardANDvoiceSearch{
    display: flex;
}

.searchIconContent{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

#searchIcon{
    height: 20px;
    width: 20px;
    margin-top: -1px;
}

.searchInputBox{
    flex: 1;
    display: flex;
    padding: 6px 0px 0 14px;
}

.voiceSearchBtn{
    border: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 16px 0 8px;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    order: 2;
    
}

#voiceSearchIcon{
    background-image: url(../resources/images/icon/googlemic_color_24dp.png);
    height: 24px;
    width: 24px;
    background-size: 24px;    
}


.keyboardArBtn{
    border: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 8px 0 8px;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    order: 1;
}

#keyboardArIcon{
    background: url(../resources/images/icon/keyboardAr2.png) no-repeat center ;
    height: 24px;
    width: 24px;
    background-size: 19px;    
}

.right .main .searchInputBox{
    order: 1;
}

.left .main .searchInputBox{
    padding: 6px 0px 0 0px;
    order: 2;
}

.right .main .keyboardANDvoiceSearch{
    order: 2;
}

.left .main .keyboardANDvoiceSearch{
    padding: 0 0 0 12px;
    order: 1;
}

.keyboardArBtn{
    order: 2;
}

.left .main .voiceSearchBtn{
    order: 1;
    padding: 0 8px 0 4px;

}

.right .main .searchIconContent{
    order: 1;
}

.left .main .searchIconContent{
    padding-right: 14px;
    order: 2;
}

.right .main #searchInput{
    order: 2;
}

.left .main #searchInput{
    margin-right: 13px;
    order: 1;
}

.right .main .searchBar{
    margin-left: -1px;
}

.left .main .searchBar{
    margin-left: -1px;
}

.btnGroup{
    top: 53px;
    width: 582px;
    height: 70px;
    text-align: center;
    padding: 14px 0 0;

}
.right .main .btnGroup{
    margin-left: -6px;
}

.left .main .btnGroup{
    margin-left: 8px;
}

.btnGroup input{
    position: relative;
    cursor: pointer;
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    margin: 11px 4px;
    font-size: 14px;
    left: -0.4px;
    line-height: 27px;
    color: #5F6368;
    border-radius: 4px;
    text-align: center;
    font-family: arial,sans-serif;
    background-color: #f2f2f2; 
    border: 1px solid #f2f2f2;
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}

.languageChange{
    text-align: center;
    line-height: 28px;
    margin: 0 auto;
    min-width: 980px;
    margin-bottom: 24px;
}

.languageChange a{
    padding: 0 3px;
    color: #1a0dab;
    text-decoration: none;
}

.footer{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    font-size: small;
    margin-left: -27px;
}

.locationBar{
    border-bottom: 1px solid #e4e4e4;
}

#locationName{
    font-size: 15px;
    
    padding-left: 27px;
    text-align: left;
    color: rgba(0,0,0,.54);
}

.right .footer #locationName{
    margin-left: 30px;
}

.left .footer #locationName{
    margin-right: 30px;
}

#footerBarFirst{
   
    white-space: nowrap;
}

#footerBarFirst a{
    display: inline-block;
    color: #5f6368;
    padding-left: 23.4px;
    margin: 0 !important;
    text-decoration: none;
}

#footerBarSecond{
    white-space: nowrap;
    font-size: small;
}

#footerBarSecond a{
    display: inline-block;
    color: #5f6368;
    padding-left: 23.3px;
    margin: 0 !important;
    text-decoration: none;
}

#footerBarFirst a:hover{
    text-decoration: underline;
}

#footerBarSecond a:hover{
    text-decoration: underline;
}

.right .footer #footerBarFirst{
    margin-left: 30px;
}
.left .footer #footerBarFirst{
    margin-right: 30px;
    float: right;
}
.right .footer #footerBarSecond{
    margin-right: 30px;
    float: right;
}
.left .footer #footerBarSecond{
    margin-left: 30px;
}

.noneShadow{
    box-shadow:none;
    border-color: #dfe1e5;
}
.withShadow{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.nanClickColor{
    background: #4285f4;
    background: linear-gradient(top,#4387fd,#4683ea) #5C80EF; 
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}

.clickColor{
    background: #376fcaea;
}